body
{
    font-family: 'Raleway', sans-serif;
} 
header
{
    padding-top: 0px;   
    margin-top: 0;   
}
.nav_box
{
 display: flex;
 flex-direction: column;
}
.nav_logo_box
{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav_logo
{
   padding: 0; 
   width: 100px;
}
.nav_ul
{
    display: flex;
    list-style-type: none;
    order: 2;
}
.nav_li
{
    list-style-type: none;
}
.nav_div
{
    display: none; 
      
}
.nav_div_tel
{
    
}
.nav_a
{
    display: inline-block;
    padding: 2rem;
    margin-top: 0px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #F2F2F2;

}
.nav_a:hover, .nav_a.active
{
    color: #0065FC;
    border-bottom: 1px solid #0065FC;   

}
.login
{
    color: #0065FC;
    font-weight: bold; 
}
.login:hover
{
    border-top: 1px solid transparent;
}
.section_recherche
{
    margin-top: 0;

}
.section_recherche_div
{
    margin-top: 0;


}
.section_recherche_entete
{
    margin-top: 0;
    margin-bottom: 1rem;


}
.section_entete_titre
{
    margin-top: 0;
    margin-bottom: 1rem;


}
.section_entete_soustitre
{
    margin-top: 0.5rem;


}
.barre_de_recherche
{
    display: flex;
    margin-bottom: 1rem;
}
.icone_recherche
{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem; 
    height: 3rem;
    border-radius: 1rem 0rem 0rem 1rem;
}
.recherche_input
{
    padding: 0rem 1rem;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    width: 235px;
    min-width: 3rem;
    min-height: 3rem; 
    height: 3rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}
.recherche_input::placeholder
{
 font-weight: 500;
 font-size: 1.125rem;
 line-height: 1.2;
 color: black;
}
.button_recherche
{
    
    min-height: 3rem; 
    height: 3rem;
    border: none; 
    background-color: white;
}
.contenu_boutton
{
   display: none;
   
}
.logo_boutton
{
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #0065FC;
    color: white;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
}
.logo_boutton i
{
    font-size: 2rem;
    
}
.filtres_box
{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: black;
}
.telephone
{
    display: flex;
}
.filtres_title_box
{
display: flex;
align-items: center;
}
.title
{

}
.filtres_div
{
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}
.filtres
{
    display: flex;
    max-width: 32rem;
    max-height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
    margin-left: 2rem;
}
.filtres_icone_box
{
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
}
.filter_descriptif
{
    padding: 1rem ;
    text-align: center;
    font-weight: bold;

}
.info
{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
.info_icone
{
    display: flex;
    color: #0065FC;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
}
.info_icone i
{
    font-size: 1rem;
}
.info_txt
{
    display: flex;
}
.section_result_hebergement
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
padding-bottom: 2rem;
padding-top: 1rem;
}
.section_result_box
{
    background-color: white;
    padding: 2rem;
    order: 2;
}
.section_result_title
{
    font-weight: bold;
    margin-bottom: 2rem;
    
}
.result_annonce_box
{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.result_annonce
{
background-color: white;
flex-basis: 13rem;
margin: 1rem;
margin-bottom: 2rem;
width: 25rem;
height: 15rem;
border-radius: 1rem;
box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.result_annonce_img_box
{
    border-radius: 1rem 1rem 0  0;
    padding: 0.2rem;
}
.result_annoce_img 
{
    border-radius: 1rem 1rem 0  0;
}
.img_annonce
{
    object-fit: cover;
    padding: 0.2rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 65%;
}
.body_result_annonce
{
    padding-left: 0.7rem;
    width: 25rem;
    height: 15rem;
}

.result_annonce_title
{
font-size: 12px;
font-weight: bold;
padding-top: 0.15rem;
}
.result_annonce_price
{
    font-size: 12px;
    padding-top: 0.5rem;
}
.result_annonce_notation
{

}
.result_annonce_notation_icone i
{
font-size: 10px;
color: #0065FC;
}
.grey
{
    color: gray;
}

.result_annonce_notation_iconegrey
{

}
.result_button_box
{
padding-top:  3rem;
}
.result_button
{
font-weight: bold;

text-decoration: none;
}


.section_result_pop
{
   background-color: #F2F2F2;
   order: 1;
}
.pop_title_box
{
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}
.pop_title
{
    font-weight: bold;
    padding-top: 0.15rem;
}

.annonce_pop_box
{
    padding: 1rem;
}
.annonce_pop
{
    display: flex;
    background-color: white;
    margin: 3rem;
    width: 20rem;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.annonce_pop_img_box
{
    border-radius: 1rem  0 0 1rem; 
}
.img_pop
{
    width: 7rem;
    height: 8em;
    object-fit: cover;              
    border-radius: 1rem  0 0 1rem;
    padding: 0.2rem;
}
.annonce_pop_body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.5rem;
}
.annonce_pop_title
{
    font-size: 12px;
    font-weight: bold;
    padding-top:   1rem;
    padding-right: 3rem;
}
.annonce_pop_price
{
    font-size: 12px;
    padding-top: 0.5rem;
}
.annonce_pop_notation
{
    margin-top: 2rem;
    
}
.annonce_pop_notation_icone i
{
    font-size: 10px;
    color: #0065FC;
}
.annonce_pop_notation_iconeblue
{

}
.annonce_pop_notation_iconegrey
{

}
.section_activite
{
margin-top: 2rem;
margin-bottom: 5rem;
}
.activite_title
{
font-weight: bold;
margin-bottom: 1rem;
}
.activite_box_un
{
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
}
.activite_box_mixte
{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite_box_mixte_un
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img_act
{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 1rem 1rem 0 0;
    display: block;
} 
.nom
{
height: 20%;
font-size: 12px;
font-weight: bold;
display: flex;
align-items: center;
padding-left: 00.5rem;

}
.activite
{
border-radius: 1rem 1rem 1rem 1rem;
box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
width: 20rem;
height: 15rem;
margin: 2rem;
}
.footer_section
{
    background-color: #F2F2F2;
    width: 100%;
}
.footer_box
{
    display: flex;
    flex-direction: column;
    padding: 0 10rem 0 2rem;
    justify-content: space-between;
}
.footer_nav_box
{
    padding: 1rem;
}
.footer_nav_tittle
{
    
}
.footer_nav_ul
{
list-style-type: none;
padding: 1rem;
}
.footer_nav_li
{
list-style-type: none;
}
.footer_nav_a
{
text-decoration: none;
color: black;
}

