body
{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    background-color: white;
    flex-wrap: wrap;
} 

header
{
 margin-bottom: 2rem;
 width: 100%;
}
.nav_section
{
    margin-bottom: 2rem;
}
nav
{
    display: flex;
    justify-content: space-between;
}
ul
{
    display: flex;
    align-items: baseline;
    list-style-type: none;
    margin-top: 0%;
}
li
{
    padding: 10px;
    list-style-type: none;
}
a
{
 text-decoration: none;
 color: black;
 border-top: 1px solid white;
}
a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;   
}
.search_section
{
    margin-bottom: 2rem;
    padding-bottom: 0rem;
}
.search_header
{
    margin-bottom: 1rem;
}
.search_header_title
{
    margin-bottom: 0.25rem;
}
.search_header_subtitle
{
    margin: 0px;
}
.search_form
{
    display: flex;
    margin-bottom: 1rem;
    
    
}
.search_form_wrapper--icone
{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;  
}
.search_form_wrapper--icone--left
{
    border-radius: 1rem 0rem 0rem 1rem;
}
.search_form--input
{
    padding: 0rem 1rem;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    width: 235px;
    height: 2.9rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}
input
{
      
}
.search_form--button
{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    background-color: #0065FC;
    padding: 0rem 1rem 0rem 1rem;
    height: 3rem;
    border-radius: 0rem 1rem 1rem 0rem;
    border: none;
}
.search_form--input::placeholder
{
 font-weight: 500;
 font-size: 1.125rem;
 line-height: 1.2;
 color: black;
}
.search_filter_form
{
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: black;
}
.search_filter
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
}
.search_filter_form--icone
{
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
}
.search_filter_desciptif
{
    display: flex;
}
.search_info
{
 display: flex;
 align-items: center;
 justify-content: start;
}
.search_info_icone
{
    display: flex;
    color: #0065FC;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
}
.search_info_txt
{
display: flex;
}




































.critère_de_recherche
{
 display: flex;
 align-items: baseline;
 align-content: flex-start;
 justify-content: space-around;


}
.filtre
{
 display: flex;
 background-color: white;
 border-radius: 10px;
 border: 1px solid #F2F2F2;
}
.icones
{
 color: #0065FC;
 border-radius: 10px;
 border: 1px solid #F2F2F2;
 background-color: #DEEBFF;
 
}
.info
{
    color: #0065FC;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    background-color: white;
}
.information
{
    display: flex;
}
.recherche
{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
} 

    

