*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body
{
    font-family: 'Raleway', sans-serif;
    padding: 0 2rem;
} 

header
{
 padding-top: 0px;   
 margin-top: 0;   
 
 width: 100%;
}
.nav_box
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo
{
   padding: 0; 
}
.nav_ul
{
    display: flex;
    list-style-type: none;   

}
.nav_li
{
 
  list-style-type: none;
}
.nav_a
{
    display: inline-block;
    padding: 2rem;
    margin-top: 0px;
    text-decoration: none;
    color: black;
    border-top: 1px solid white;
}
.nav_a:hover, .nav_a.active
{
    color: #0065FC;
    border-top: 1px solid #0065FC;   

}
.login
{
    color: #0065FC;
    font-weight: bold; 
}
.login:hover
{
    border-top: 1px solid transparent;
}
main
{

margin-top: 0;
}
.section_recherche
{
    margin-top: 0;

}
.section_recherche_div
{
    margin-top: 0;


}
.section_recherche_entete
{
    margin-top: 0;


}
.section_entete_titre
{
    margin-top: 0;
    margin-bottom: 0.5rem;


}
.section_entete_soustitre
{
    margin-top: 0.5rem;


}
.barre_de_recherche
{
    display: flex;
    margin-bottom: 1rem;
}
.icone_recherche
{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem; 
    height: 3rem;
    border-radius: 1rem 0rem 0rem 1rem;
}
.recherche_input
{
    padding: 0rem 1rem;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    width: 235px;
    min-width: 3rem;
    min-height: 3rem; 
    height: 3rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}
.recherche_input::placeholder
{
 font-weight: 500;
 font-size: 1.125rem;
 line-height: 1.2;
 color: black;
}

.button_recherche
{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    background-color: #0065FC;
    padding: 0rem 1rem 0rem 1rem;
    min-width: 3rem;
    min-height: 3rem; 
    height: 3rem;
    border-radius: 0rem 1rem 1rem 0rem;
    border: none;
}
.filtres_box
{
    display: flex;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: black;
}
.filtres_title_box
{
display: flex;
align-items: center;
}
.title
{

}
.filtres_div
{
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}
.filtres
{
    display: flex;
    max-width: 32rem;
    max-height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
    margin-left: 2rem;
}
.filtres_icone_box
{
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
}
.filter_descriptif
{
    padding: 1rem ;
    text-align: center;

}
.info
{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
.info_icone
{
    display: flex;
    color: #0065FC;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
}
.info_icone i
{
    font-size: 1rem;
}
.info_txt
{
    display: flex;
}
.section_activite
{

}
.activite_title
{

}
.activite_box_un
{
display: flex;
}
.activite_box_deux
{

}
.activite_box_trois
{
display: flex;
}
.activite_xl
{

}
.activite_xl_img
{

}
.nom
{

}
.activite_medium
{

}
.activite_small
{

}
.activite_small_img
{

}


.footer_nav_box
{
display: flex;
}
.footer_nav
{

}
.nav_ul
{

}
.nav_li
{

}
.nav_title
{

}
.footer_nav_contenu
{

}















.section_result_hebergement
{
display: flex;
justify-content: space-between;
}
.section_result_box
{

    background-color: #F2F2F2;
    width: 50rem;
}
.section_result_title
{
    font-weight: bold;
}
.result_annonce_box
{

}
.annonce_box_top
{
display: flex;
justify-content: space-between;
}
.annonce_box_bottom
{
    display: flex;
    justify-content: space-between;
}
.result_annonce
{
background-color: white;
max-width: 10rem;
max-height: 8rem;
}
.result_annonce_img_box
{

}
.result_annoce_img
{
    
}
.result_annonce_title
{
font-size: 12px;
font-weight: bold;
}
.result_annonce_price
{
    font-size: 10px;
}
.result_annonce_notation
{

}
.result_annonce_notation_icone i
{
font-size: 6px;
}
.result_annonce_notation_iconeblue
{

}
.result_annonce_notation_iconegrey
{

}
.result_button_box
{

}
.result_button
{
list-style-type: none;
}








.section_result_pop
{

}
.pop_title_box
{
display: flex;
justify-content: space-between;
}
.pop_title
{

}
.poptitle_icone
{

}
.annonce_pop_box
{

}
.annonce_pop
{
display: flex;
}
.annonce_pop_img_box
{

}
.annonce_pop_img
{

}
.annonce_pop_body
{

}
.annonce_pop_title
{

}
.annonce_pop_price
{

}
.annonce_pop_notation
{

}
.annonce_pop_notation_icone
{

}
.annonce_pop_notation_iconeblue
{

}
.annonce_pop_notation_iconegrey
{

}
.





.search_section
{
    margin-bottom: 2rem;
    padding-bottom: 0rem;
}
.search_header
{
    margin-bottom: 1rem;
}
.search_header_title
{
    margin-bottom: 0.25rem;
}
.search_header_subtitle
{
    margin: 0px;
}
.search_form
{
    display: flex;
    margin-bottom: 1rem;
    
    
}
.search_form_wrapper--icone
{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem; 
    border-radius: 1rem 0rem 0rem 1rem;
 
}
.search_form_wrapper--icone--left
{
    border-radius: 1rem 0rem 0rem 1rem;
}
.search_form--input
{
    padding: 0rem 1rem;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    width: 235px;
    height: 2.9rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}
input
{
      
}
.search_form--button
{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    background-color: #0065FC;
    padding: 0rem 1rem 0rem 1rem;
    height: 3rem;
    border-radius: 0rem 1rem 1rem 0rem;
    border: none;
}
.search_form--input::placeholder
{
 font-weight: 500;
 font-size: 1.125rem;
 line-height: 1.2;
 color: black;
}
.search_filter_form
{
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: black;
}
.search_filter
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
}
.search_filter_form--icone
{
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
}
.search_filter_desciptif
{
    display: flex;
}
.search_info
{
 display: flex;
 align-items: center;
 justify-content: start;
}
.search_info_icone
{
    display: flex;
    color: #0065FC;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 3rem;
    border: 1px solid #F2F2F2 ;
}
.search_info_txt
{
display: flex;
}



.critère_de_recherche
{
 display: flex;
 align-items: baseline;
 align-content: flex-start;
 justify-content: space-around;


}
.filtre
{
 display: flex;
 background-color: white;
 border-radius: 10px;
 border: 1px solid #F2F2F2;
}
.icones
{
 color: #0065FC;
 border-radius: 10px;
 border: 1px solid #F2F2F2;
 background-color: #DEEBFF;
 
}
.innnnfo
{
    color: #0065FC;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    background-color: white;
}
.information
{
    display: flex;
}
.recherssche
{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
} 

    

